<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Author</title>
</head>
<body>
<h1>Add New Author</h1>

<form action="/save-author" method="post" th:object="${author}">
    <label for="name">Author Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <button type="submit">Save Author</button>
</form>
<a href="/">
    <button type="button">Back to Main Page</button>
</a>
</body>
</html>
