<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring - Maven with H2</title>
</head>
<body>
<h1>Welcome to the Spring Maven Project</h1>

<div>
    <a href="/add-author">
        <button>Add New Author</button>
    </a>
    <a href="/add-book">
        <button>Add New Book</button>
    </a>
    <a href="/list-all">
        <button>List All</button>
    </a>
</div>
</body>
</html>
